.nav-bar {
  border-bottom: 1px solid #DFDFDF;
  padding: 1.25rem;
}

.logo {
  background-image: url('/static/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 2.375rem;
  margin: 3px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  width: 15rem;
  a {
    color: transparent;
  }
}

.app {
  margin: 0 auto;
  max-width: 40rem;
  &__header {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 1.7rem;
    padding: 3rem 0 2rem 0;
    text-align: center;
    h2 {
      font-size: 1.7rem;
      font-weight: 400;
      margin: 0;
    }
  }
}

.banks-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 2.5rem 0;
  padding: 0;
  &__item {
    cursor: pointer;
    padding: 1rem 1rem 1rem 0;
    width: 33%;
    img {
      display: block;
      margin: 0 auto;
      max-height: 1.7rem;
      max-width: 7rem;
      width: 100%;
    }
  }
}

.connect, .success {
  text-align: center;
}

.modal-container {
  align-items: baseline;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
}

.modal {
  background: white;
  border: 1px solid rgb(49, 51, 48);
  border-radius: 0.375rem;
  box-shadow: 0rem .25rem 1.25rem .1rem rgba(49,51,48,1);
  margin-top: 8rem;
  min-height: 5rem;
  width: 45rem;
  &__header {
    border-bottom: 1px solid #DFDFDF;
    margin: 1.5rem 1.2rem 0;
  }
  &__title, &__description {
    font-size: .9rem;
  }
  &__title {
    margin: 0;
  }
  &__description {
    margin: .5rem 0;
  }
  &__form {
    margin: .7rem auto 1.2rem;
    width: 60%;
  }
  &__input {
    background: rgb(244, 245, 241);
    border: 1px solid rgb(187, 187, 181);
    display: block;
    font-size: 1.1rem;
    margin: .7rem 0;
    padding: .5rem;
    width: 100%;
  }
  &__error {
    color: red;
    font-size: .9rem;
    margin: 0;
  }
  &__submit {
    background: rgb(85, 165, 228);
    border: none;
    color: white;
    display: block;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-top: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}
