.nav-bar {
  border-bottom: 1px solid #DFDFDF;
  padding: 1.25rem;
}

.logo {
  background-image: url('/static/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 2.375rem;
  margin: 3px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  width: 15rem;
  a {
    color: transparent;
  }
}

.app {
  margin: 0 auto;
  max-width: 42rem;
  &__header {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 1.7rem;
    padding: 3rem 0 2rem 0;
    h2 {
      font-size: 1.7rem;
      font-weight: 400;
      margin: 0;
    }
  }
}

.banks-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    width: 33%;
  }
}

